@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("./alert/alert.css");
@import url("./avatar/avatar.css");
@import url("./buttons/buttons.css");
@import url("./cards/cards.css");
@import url("./images/images.css");
@import url("./input/input.css");
@import url("./lists/lists.css");
@import url("./modals/modals.css");
@import url("./bagde/bagde.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@400;500&family=Ubuntu:wght@400;500&display=swap');

:root{
    --main-color: #0e9aeb;
    --black: #1f1d1d;
    --white: #ffffff;
    --lynxWhite:#f8f8f8;
    --grey: #262f44;
    --darkBlue: #007bb5;
    --green: #20aa20;
    --darkRed: #9b1e1e;
    --red: #ff0000;
    --lightRed: #f3a09cf8;
    --darkYellow:#a88c18;
    --lightBlue: #89c3df;

    --primary: #9333ea;
    --secondary: #2563eb;
    --success: #22c55e;
    --danger: #dc2626;
    --warning: #facc15;
    --default: #414752;
    --link: #06aed8;
    --darkOrange: #E67A00;
    --lightGrey: #c2c2c2;
    --darkGreen: #008000;
    
    --max: 81.25rem;
    font-family: 'Montserrat', sans-serif;

    --border-full:999px;
    --border-lg:15px;
    --border-md:10px;
    --border-sm:5px;

    --font-light:300;
    --font-regular:400;
    --font-semiBold:600;
    --font-bold:700
}



/* Reset CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-space-bw{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-end{
    justify-content: flex-end;
}
.flex-dr-col{
    flex-direction: column;
}
.w-full{
    width: 100%;
}
.w-half{
    width: 50%;
}
.h-full{
    height: 100%;
}

.m-10-rl{
    margin: 0 10px;
}

img{
    width: 100%;
}

.font_1r{
    font-size: 1rem;
}
.position-relative{
    position: relative;
}
.active_item{
    font-weight: 700;
}

nav{
    overflow: hidden;
    box-shadow: 0 0 2px 1px #fdb8b83b;
}
.navbar_std header{
    height: 80px;
}
.brandName{
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 700;
    color: tomato;
    margin: 1rem;
    flex-basis: 150px;
    text-align: center;
    cursor: pointer;
}
.brandName a{
    color: tomato;
}
.hambar{
    display: none;
}
.navbarOptions{
    margin: 1rem;
    flex-basis: 150px;
}
.navbarOptions li:hover{
    transform: scale(1.1);
}
.navbarOptions a{
    color: tomato;
    font-size: 1.25rem;
}


.middleSection{
    height: 89vh;
    display: flex;
    overflow: auto;
}

.siderbar{
    padding: 0.5rem;
    flex: 1 0;
    flex-basis: 230px;
    box-shadow: 1px 2px 2px 1px #fdb8b83b;
    max-width: 250px;
}
.siderbar ul{
    flex-direction: column;
}
.sliderbarItem a{
    border-radius: 5px;
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
    display: block;
    color: black;
    letter-spacing: 2px;
}
.sliderbarItem:hover{
    background-color: #fdb8b83b;
    transform: scale(1.1);
}
.contentBox{
    flex: 3;
    padding: 1rem;
    overflow: auto;
}

.landingPage{
    background: linear-gradient(166deg, black, transparent);
    height: 100vh;
}
 
.main_title{
    position: absolute;
    top: 27%;
    font-size: 2rem;
    color: white;
    max-width: 700px;
    margin: 2rem;
}
.main_title .link-btn{
    background-color: tomato;
}
.social_links{
    font-size: 1rem;
    width: 40%;
    position: absolute;
    bottom: -100px;
    right: 5%;
}
.social_links a{
    color: white;
}
.section-main-text-header{
    margin: 1rem;
    padding: 0.5rem;
    letter-spacing: 0.03rem;
}
.paragraph{
    margin: 0.5rem 2rem;
}

.doc-img{
    display: flex;
    align-items: center;
    width: 100%;
}

iframe{
    display: flex;
    width: 698px;
    height: 354px;
    border: 0;
    transform: scale(1);
    overflow: hidden;
    margin: 2rem auto;
    flex-wrap: wrap;
}

@media (max-width:700px){
        body{
            font-size: 13px;
        }
        .siderbar{
            display: none;
            top: 10vh;
            position: absolute;
            height: 89vh;
            z-index: 999;
            background: white;
            box-shadow: -1px 1px 2px 1px #fdb8b83b;
            width: 100%;
        }
        .navbarOptions{
            display: none;
        }
        .hambar{
            cursor: pointer;
            display: block;
            margin: 1rem;
            font-size: 1.5rem;
            color: tomato;
        }
       
}


