.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    gap: 1rem;
}
.w-33{
    width: 33%;
}
.margin-zero{
    margin: 0;
}

@media (max-width:800px){
    .grid-container{
        grid-template-columns: 1fr;
    }
}
